<!DOCTYPE html>
<html>
<head>
    <title>nw-dll-sample</title>
    <script type="text/javascript" src="../js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="../js/index.js"></script>
</head>
<body>
<h1>NodeWebkit Sample with Native DLL</h1>

<p>A: <input id="val-a" type="text"> B: <input id="val-b" type="text"></p>
<p><button id="call-dll">Call Native DLL</button></p>
<p>Sum: <span id="sum"></span></p>
<p>Difference: <span id="difference"></span></p>
<p>Platform: <span id="platform"></span></p>
</body>
</html>